<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>New Photo</title>
</head>
<body>
    <header>
        <h1>Upload your photo!</h1>
        <nav>
            <ul>
                <li><a href="/"><button>Home</button></a></li>
                <li><a href="/users"><button>All Contributors</button></a></li>
                <li><a href="/photos"><button>Photos Index</button></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/photos" method="POST">
        <select name="userId">
            <% for(let i = 0; i < users.length; i++){ %>
                <option value="<%= users[i]._id %>"><%= users[i].name %></option>
            <% } %>
        </select><br>
        
        Title: <input type="text" name="title"><br>
        URL: <input type="text" name="url"><br>
        <button type="submit">Upload this photo</button>
        </form>
    </main>
    
</body>
</html>