<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Main Page</title>
</head>
<body>
    <h1>Photo Site</h1>
    <nav>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/photos">Photos</a></li>
        </ul>
    </nav>
    
</body>
</html>